:root {
  --bg-main: #e8e8e8;
  --bg-layer-1: linear-gradient(to left, #9b2226, #95d5b2, #f26419);
  --bg-layer-2: #222;
  --color-green--1: #40916c;
  --color-green--2: #74c69d;
  --color-red: #9b2226;
  --color-text: #f26419; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 34em) {
    html {
      font-size: 40%; } }

body {
  height: 100vh;
  background: var(--bg-main);
  font-family: "Moon Dance", cursive;
  font-size: 4rem;
  color: var(--color-text);
  display: grid;
  justify-content: center;
  align-content: center; }

.layer--1 {
  width: 75rem;
  height: 40rem;
  background: var(--bg-layer-1);
  border-radius: 1.5rem;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .layer--1 {
      rotate: 90deg; } }
  @media only screen and (max-width: 22em) {
    .layer--1 {
      width: 65rem;
      height: 30rem; } }
  .layer--1:hover ~ .author {
    translate: 0;
    opacity: 1; }
    @media only screen and (max-width: 56.25em) {
      .layer--1:hover ~ .author {
        translate: 2rem 0; } }
  .layer--1 .layer--2 {
    width: 73rem;
    height: 38rem;
    background: var(--bg-layer-2);
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    @media only screen and (max-width: 22em) {
      .layer--1 .layer--2 {
        width: 63rem;
        height: 28rem; } }
    .layer--1 .layer--2::before {
      content: "";
      position: absolute;
      inset: -1.5rem 11.5rem;
      border-top: 1rem solid var(--color-green--1);
      border-bottom: 1rem solid var(--color-green--2);
      z-index: -1;
      transform: skewY(15deg);
      transition: 0.5s ease-in-out; }
    .layer--1 .layer--2:hover::before {
      transform: skewY(0deg);
      inset: -2.5rem 11.5rem; }
    .layer--1 .layer--2::after {
      content: "";
      position: absolute;
      inset: 3.5rem -1.5rem;
      border-left: 1rem solid var(--color-red);
      border-right: 1rem solid var(--color-text);
      z-index: -1;
      transform: skew(15deg);
      transition: 0.5s ease-in-out; }
    .layer--1 .layer--2:hover::after {
      transform: skew(0deg);
      inset: 3.5rem -2.5rem; }
    .layer--1 .layer--2 .piano-keyboard {
      display: flex;
      gap: 0.1rem;
      clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%); }
      .layer--1 .layer--2 .piano-keyboard:hover .key .note {
        opacity: 1;
        translate: 0; }
      .layer--1 .layer--2 .piano-keyboard .key {
        display: flex;
        justify-content: center;
        align-items: flex-end; }
      .layer--1 .layer--2 .piano-keyboard .white {
        width: 7rem;
        height: 30rem;
        background: var(--bg-main);
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: bold; }
        @media only screen and (max-width: 22em) {
          .layer--1 .layer--2 .piano-keyboard .white {
            width: 5rem;
            height: 28rem; } }
      .layer--1 .layer--2 .piano-keyboard .black {
        width: 4rem;
        height: 17rem;
        background: #000;
        margin-left: -2rem;
        margin-right: -2rem;
        z-index: 1;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem; }
        @media only screen and (max-width: 22em) {
          .layer--1 .layer--2 .piano-keyboard .black {
            width: 4rem;
            height: 15rem; } }
      .layer--1 .layer--2 .piano-keyboard .white .note {
        opacity: 0;
        translate: 0 -1.5rem;
        transition: all 1s; }
      .layer--1 .layer--2 .piano-keyboard .black .note {
        opacity: 0;
        translate: 0 1.5rem;
        transition: all 1s; }
      .layer--1 .layer--2 .piano-keyboard .active--black {
        background: #333; }
      .layer--1 .layer--2 .piano-keyboard .active--white {
        background: #fff; }

.author {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 1.5rem;
  justify-self: end;
  translate: 0 -5rem;
  opacity: 0;
  transition: all 1s;
  background: linear-gradient(to right, var(--color-green--2), var(--color-green--1));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  .author a:link,
  .author a:hover {
    text-decoration: none;
    color: inherit; }
  @media only screen and (max-width: 56.25em) {
    .author {
      rotate: 90deg; } }
